services:
  kinect-streamer:
    build: /mnt/REMOTE/v/Kinect-surveillance/ffmpeg-rtsp
    container_name: kinect-streamer
    devices:
       - "/dev/bus/usb:/dev/bus/usb"
    privileged: true
    security_opt:
      - apparmor:unconfined
    environment:
      - RTSP_TARGET=rtsp://rtsp-server:8554/kinect
      - FLIP_ANGLE=180
      - LIBUSB_DEBUG=4
    user: root
    restart: unless-stopped

  rtsp-server:
    image: bluenviron/mediamtx:latest
    container_name: rtsp-server
    ports:
      - "8554:8554"      # RTSP port
      - "8555:8555"      # Optional: RTSP-over-HTTP, if you want
    restart: unless-stopped

  motion-detector:
    build: /mnt/REMOTE/v/Kinect-surveillance/motion-detector
    container_name: motion-detector
    depends_on:
      - kinect-streamer
    environment:
      #- NVR_API_URL=http://your-nvr.local/api/start_recording
      - RTSP_STREAM=rtsp://rtsp-server:8554/kinect
    restart: unless-stopped

  camera-ui:
    build: /mnt/REMOTE/v/Kinect-surveillance/camera-ui
    container_name: camera-ui
    ports:
      - "8081:8081"
    volumes:
#      - /mnt/REMOTE/v/Kinect-surveillance/camera-ui:/app/.camera.ui:rw
      - /home/v/Kinect-surveillance/camera-ui:/root/.camera.ui:rw
    environment:
      - CAMERAS__0__NAME=Kinect
      - CAMERAS__0__STREAM=rtsp://rtsp-server:8554/kinect
    user: root
    restart: unless-stopped