services:
  kinect-streamer:
    build: ./ffmpeg-rtsp
    container_name: kinect-streamer
    devices:
       - "/dev/bus/usb:/dev/bus/usb"
       - /dev/video0
    privileged: true
    security_opt:
      - apparmor:unconfined
    environment:
      - RTSP_TARGET=rtsp://rtsp-server:8554/kinect
      - LIBUSB_DEBUG=4
      - RTSP_PORT=8554
      - STREAM_NAME=stream
      - DEPTH_THRESHOLD=1200
      - RECORDINGS_DIR=/camera-ui/recordings
    user: root
    volumes:
      - ./camera-ui/recordings:/camera-ui/recordings
    restart: unless-stopped
    

  rtsp-server:
    image: bluenviron/mediamtx:latest
    container_name: rtsp-server
    ports:
      - "8554:8554"      # RTSP port
      - "8555:8555"      # Optional: RTSP-over-HTTP, if you want
    restart: unless-stopped

  motion-detector:
    build: ./motion-detector
    container_name: motion-detector
    depends_on:
      - kinect-streamer
    environment:
      #- NVR_API_URL=http://your-nvr.local/api/start_recording
      - RTSP_STREAM=rtsp://rtsp-server:8554/kinect
    restart: unless-stopped

  camera-ui:
    build: ./camera-ui
    container_name: camera-ui
    ports:
      - "8081:8081"
    volumes:
#      - ./camera-ui:/app/.camera.ui:rw
      - /home/v/Kinect-surveillance/camera-ui:/root/.camera.ui:rw
    environment:
      - CAMERAS__0__NAME=Kinect
      - CAMERAS__0__STREAM=rtsp://rtsp-server:8554/kinect
    user: root
    restart: unless-stopped

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "4"
